@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,500&display=swap");

* {
  text-align: center;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
}

.wrapper-event {
  margin: auto;
  text-align: center;
}

.info-event {
  text-align: left;
  margin: auto;
  width: 950px;
  padding: 20px;
}

.event-logo {
  width: 60px;
  height: auto;
}

.event-name {
  width: fit-content;
  font-size: 30px;
  font-weight: 600;
}

.date-bywho {
  margin-top: 5px;
}

.date-bywho p {
  width: fit-content;
  font-size: 15px;
  font-weight: 500;
}

.video-embed {
  margin-top: 20px;
}

hr {
  margin-top: 10px;
}

.eventpage-desc {
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  padding-top: 10px;
}