@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,500&display=swap");

* {
  text-align: center;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
}

iframe {
  width: 900px;
  height: 500px;
}

hr {
  margin-top: 10px;
}

.wrapper-event {
  margin: auto;
  text-align: center;
}

.info-event {
  text-align: left;
  margin: auto;
  width: 950px;
  padding: 20px;
}

.event-logo {
  width: 60px;
  height: auto;
}

.event-name {
  width: fit-content;
  font-size: 30px;
  font-weight: 600;
}

.date-bywho {
  margin-top: 5px;
}

.date-bywho p {
  width: fit-content;
  font-size: 15px;
  font-weight: 500;
}

.video-embed {
  margin-top: 20px;
}

.eventpage-desc {
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  padding-top: 10px;
}

@media screen and (max-width: 400px) {
  iframe {
    width: 90%;
    height: 220px;
  }

  .info-event {
    width: 90%;
  }
  
  .event-logo {
    width: 40px;
  }

  .event-name {
    font-size: 27px;
  }
}