@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,500&display=swap");

.App {
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;

  cursor: default;
  position: relative;
}

.link {
  text-decoration: none;
  color: inherit;
}

.main-welcome-logo {
  margin-top: 10vh;
  margin-bottom: 2em;
  width: 250px;
}

.main-header {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 600;
}

.main-subs {
  font-size: 22px;
  width: 60%;
  margin: auto;
}

.main-buttons {
  padding-top: 2em;
  width: 30em;
  justify-content: space-between;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.main-event-chooser {
  width: 200px;
  height: 50px;
  background-color: #fff;
  border: 2px solid #007BFF;
  border-radius: 8px;
  color: #007BFF;

  transition: ease-out 0.3s;
}

.main-event-chooser:hover {
  background-color: #007BFF;
  color: #fff;

  transition: ease-in-out 0.3s;
}

.main-event-chooser p {
  font-size: 18px;
  font-weight: 600;
  line-height: 50px;
}

.only-now {
  width: 500px;
  margin: auto;
  padding-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  height: 45px;
  align-items: center;
}

.only-now img {
  margin: auto;
}

.main-apple {
  height: 35px;
}

.main-wwdc {
  height: 40px;
}

.main-google {
  height: 30px;
}

.main-aws {
  height: 45px;
}

@media screen and (max-width: 400px) {
  .main-welcome-logo {
      width: 250px;
  }

  .main-buttons {
    width: 80%;
  }

  .main-event-chooser {
    margin-top: 10px;
  }

  .main-header {
    font-size: 30px;
  }

  .main-subs {
    font-size: 20px;
    width: 70%;
  }
  
  .only-now {
    width: 80%;
    padding-top: 5vh;
  }
  
  .main-apple {
    height: 30px;
  }
  
  .main-wwdc {
    height: 35px;
  }
  
  .main-google {
    height: 25px;
  }
  
  .main-aws {
    height: 40px;
  }
}