@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,500&display=swap");

.App {
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;

  cursor: default;
}

.link {
  text-decoration: none;
  color: inherit;
}

.main-welcome-logo {
  margin-top: 10vh;
  margin-bottom: 2em;
  width: 250px;
}

.main-header {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 600;
}

.main-subs {
  font-size: 22px;
  width: 60%;
  margin: auto;
}

.main-buttons {
  padding-top: 2em;
  width: 30em;
  justify-content: space-between;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.main-event-chooser {
  width: 200px;
  height: 50px;
  background-color: #fff;
  border: 2px solid #007BFF;
  border-radius: 8px;
  color: #007BFF;

  transition: ease-out 0.3s;
}

.main-event-chooser:hover {
  background-color: #007BFF;
  color: #fff;

  transition: ease-in-out 0.3s;
}

.main-event-chooser p {
  font-size: 18px;
  font-weight: 600;
  line-height: 50px;
}

.only-now {
  width: 800px;
  margin: auto;
  padding-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  align-items: center;
}

.only-now img {
  margin: auto;
}

.main-apple {
  height: 55px;
}

.main-wwdc {
  height: 60px;
}

.main-google {
  height: 50px;
}

.main-aws {
  height: 65px;
}