.past-indicator {
  position: absolute;
  left: 25px;
  top: 25px;

  width: 80px;
  height: 20px;
  margin: 0px;
  background-color: #f12e2e;
  border-radius: 5px;

  animation-name: blink-indicator;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: 0.3s;
}

.past-indicator p {
  margin: auto;
  font-size: 14px;
  font-weight: bold;
}

@keyframes blink-indicator {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
