.wrapper-past {
  margin: 0px auto;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.wrapper {
  margin: 0px auto;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.PE-upcoming-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 25px;
  left: 25px;
  /* padding-top: 20px;
      padding-left: 25px; */
  margin: auto;
  float: left;

  border-bottom: 2px solid transparent;
  border-radius: 2px;

  transition: 0.2s;
}

.PE-upcoming-info:active,
.PE-upcoming-info:hover {
  transition: 0.5s;
  border-bottom: 2px solid #fff;
  border-radius: 2px;
}

.PE-background {
  border-radius: 5px;
  margin: 0px auto;
  width: 100%;
  height: 100%;
}

.PE-event-big-wrapper {
  position: relative;

  color: #fff;
  margin: 20px auto 10px auto;
  width: 450px;
  height: 280px;
  background-size: cover;
}

.PE-logo {
  margin: 0px;
  padding-bottom: 5px;
  width: 30px;
  height: auto;
  float: left;
}

.PE-event-name,
.PE-event-date {
  width: fit-content;
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  font-weight: 500;
}

.header {
  width: fit-content;
  height: fit-content;
  margin: 0px auto;
}

.header p {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px auto;
  font-size: 18px;
  font-weight: 500;
}
