.App {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  cursor: default;
}

/* UpcomingEventsItem.js */

/* PastEvents.js */

/* Indicators */

/* Main Page Configs */

.mainPageAll {
  margin: 0px auto;
  height: fit-content;
  width: fit-content;
  padding: 20px;
}

.header {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.header p {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
  font-size: 18px;
  font-weight: 500;
}

.button {
  margin: 0px;
}

.event-selectors {
  max-width: 600px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.event-select {
  width: 200px;
  height: auto;
  margin: 0px 20px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  border-radius: 5px;

  transition: 0.4s;
}

.event-select:active,
.event-select:hover {
  border: 2px solid #0071e3;
  color: #0071e3;
  border-radius: 10px;
}

.event-select p {
  width: auto;
  text-align: center;
  margin: 0px auto;
  font-size: 15px;
}

.event-select h3 {
  width: auto;
  text-align: center;
  margin: 0px auto;
  padding-bottom: 5px;
  font-size: 18px;
}

.welcome {
  width: auto;
  margin: 0px auto;
  padding: 10px;
}

.welcome p {
  font-size: 22px;
  font-weight: 500;
  margin: 0px;
}
