@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

.App {
  text-align: center;
  font-family: 'IBM Plex Sans', sans-serif;

  cursor: default;
}
